In [12]:
desired_countries = ['LVA', 'LUX', 'ISR', 'FRA', 'CHN', 'SAU', 'COL', 'LTU', 'THA', 'CYP', 
 'HKG', 'AUS', 'GRC', 'ECU', 'CRI', 'CHL', 'MAR', 'NLD', 'PRT', 'RUS', 
 'HUN', 'TUR', 'MEX', 'EGY', 'BEL', 'ROU', 'DNK', 'KOR', 'SWE', 'FIN', 
 'UKR', 'ARG', 'VNM', 'DEU', 'BRA', 'BGR', 'MYS', 'PHL', 'GBR', 'CHE', 
 'ITA', 'AUT', 'SVK', 'CAN', 'ARE', 'TWN', 'PER', 'NZL', 'HRV', 'IRL', 
 'ZAF', 'SGP', 'USA', 'ESP', 'CZE', 'EST', 'IDN', 'POL', 'NOR', 'JPN', 
 'IND']

In [13]:
import pandas as pd
import numpy as np
import requests

In [14]:
df = pd.read_table('../data/behavior_imported/country_data.txt', sep='\t', header=0, index_col=0)
df = df[df['ISO3'].isin(desired_countries)]
df.drop(columns=['fips', 'Capital', 'Area(in sq km)', 'tld', 'CurrencyCode', 'CurrencyName', 'Phone', 'Postal Code Format', 'Postal Code Regex', 'geonameid', 'neighbours', 'EquivalentFipsCode'], axis= 1, inplace=True)
df

,ISO3,ISO-Numeric,Country,Population,Continent,Languages
ISO,,,,,,
AE,ARE,784,United Arab Emirates,9630959,AS,"ar-AE,fa,en,hi,ur"
AR,ARG,32,Argentina,44494502,SA,"es-AR,en,it,de,fr,gn"
AT,AUT,40,Austria,8847037,EU,"de-AT,hr,hu,sl"
AU,AUS,36,Australia,24992369,OC,en-AU
BE,BEL,56,Belgium,11422068,EU,"nl-BE,fr-BE,de-BE"
...,...,...,...,...,...,...
TW,TWN,158,Taiwan,23451837,AS,"zh-TW,zh,nan,hak"
UA,UKR,804,Ukraine,44622516,EU,"uk,ru-UA,rom,pl,hu"
US,USA,840,United States,327167434,NaN,"en-US,es-US,haw,fr"
VN,VNM,704,Vietnam,95540395,AS,"vi,en,fr,zh,km"
ZA,ZAF,710,South Africa,57779622,AF,"zu,xh,af,nso,en-ZA,tn,st,ts,ss,ve,nr"

In [15]:
df.fillna('NA', inplace=True)
df

,ISO3,ISO-Numeric,Country,Population,Continent,Languages
ISO,,,,,,
AE,ARE,784,United Arab Emirates,9630959,AS,"ar-AE,fa,en,hi,ur"
AR,ARG,32,Argentina,44494502,SA,"es-AR,en,it,de,fr,gn"
AT,AUT,40,Austria,8847037,EU,"de-AT,hr,hu,sl"
AU,AUS,36,Australia,24992369,OC,en-AU
BE,BEL,56,Belgium,11422068,EU,"nl-BE,fr-BE,de-BE"
...,...,...,...,...,...,...
TW,TWN,158,Taiwan,23451837,AS,"zh-TW,zh,nan,hak"
UA,UKR,804,Ukraine,44622516,EU,"uk,ru-UA,rom,pl,hu"
US,USA,840,United States,327167434,NA,"en-US,es-US,haw,fr"
VN,VNM,704,Vietnam,95540395,AS,"vi,en,fr,zh,km"
ZA,ZAF,710,South Africa,57779622,AF,"zu,xh,af,nso,en-ZA,tn,st,ts,ss,ve,nr"

In [16]:
df['Languages'] = df['Languages'].str.replace(r'-\w{2}', '', regex=True)
df.reset_index(drop=True, inplace=True)
df

,ISO3,ISO-Numeric,Country,Population,Continent,Languages
0,ARE,784,United Arab Emirates,9630959,AS,"ar,fa,en,hi,ur"
1,ARG,32,Argentina,44494502,SA,"es,en,it,de,fr,gn"
2,AUT,40,Austria,8847037,EU,"de,hr,hu,sl"
3,AUS,36,Australia,24992369,OC,en
4,BEL,56,Belgium,11422068,EU,"nl,fr,de"
...,...,...,...,...,...,...
56,TWN,158,Taiwan,23451837,AS,"zh,zh,nan,hak"
57,UKR,804,Ukraine,44622516,EU,"uk,ru,rom,pl,hu"
58,USA,840,United States,327167434,NA,"en,es,haw,fr"
59,VNM,704,Vietnam,95540395,AS,"vi,en,fr,zh,km"
60,ZAF,710,South Africa,57779622,AF,"zu,xh,af,nso,en,tn,st,ts,ss,ve,nr"

In [17]:
timezone_map = {
    "ARE": "UTC +4", "ARG": "UTC -3", "AUT": "UTC +1", "AUS": "UTC +10", "BEL": "UTC +1", "BGR": "UTC +2", 
    "BRA": "UTC -3", "CAN": "UTC -5", "CHE": "UTC +1", "CHL": "UTC -4", "CHN": "UTC +8", "COL": "UTC -5", 
    "CRI": "UTC -6", "CYP": "UTC +2", "CZE": "UTC +1", "DEU": "UTC +1", "DNK": "UTC +1", "ECU": "UTC -5", 
    "EST": "UTC +2", "EGY": "UTC +2", "ESP": "UTC +1", "FIN": "UTC +2", "FRA": "UTC +1", "GBR": "UTC +0", 
    "GRC": "UTC +2", "HKG": "UTC +8", "HRV": "UTC +1", "HUN": "UTC +1", "IDN": "UTC +7", "IRL": "UTC +0", 
    "ISR": "UTC +2", "IND": "UTC +5:30", "ITA": "UTC +1", "JPN": "UTC +9", "KOR": "UTC +9", "LTU": "UTC +2", 
    "LUX": "UTC +1", "LVA": "UTC +2", "MAR": "UTC +1", "MEX": "UTC -6", "MYS": "UTC +8", "NLD": "UTC +1", 
    "NOR": "UTC +1", "NZL": "UTC +12", "PER": "UTC -5", "PHL": "UTC +8", "POL": "UTC +1", "PRT": "UTC +0", 
    "ROU": "UTC +2", "RUS": "UTC +3", "SAU": "UTC +3", "SWE": "UTC +1", "SGP": "UTC +8", "SVK": "UTC +1", 
    "THA": "UTC +7", "TUR": "UTC +3", "TWN": "UTC +8", "UKR": "UTC +2", "USA": "UTC -5", "VNM": "UTC +7", 
    "ZAF": "UTC +2"
}

In [18]:
def convert_to_float(utc_string):
    sign = 1 if '+' in utc_string else -1
    cleaned = utc_string.replace('UTC ', '').replace('+', '').replace('-', '')
    
    # Caso com horas inteiras (ex: UTC +5 ou UTC -3)
    if len(cleaned.split(':')) == 1:
        return sign * int(cleaned)
    
    # Caso com horas e minutos (ex: UTC +5:30)
    else:
        hours, minutes = map(int, cleaned.split(':'))
        return sign * (hours + minutes / 60)

In [19]:
df['Timezone'] = df['ISO3'].map(timezone_map).apply(convert_to_float)
df

,ISO3,ISO-Numeric,Country,Population,Continent,Languages,Timezone
0,ARE,784,United Arab Emirates,9630959,AS,"ar,fa,en,hi,ur",4.0
1,ARG,32,Argentina,44494502,SA,"es,en,it,de,fr,gn",-3.0
2,AUT,40,Austria,8847037,EU,"de,hr,hu,sl",1.0
3,AUS,36,Australia,24992369,OC,en,10.0
4,BEL,56,Belgium,11422068,EU,"nl,fr,de",1.0
...,...,...,...,...,...,...,...
56,TWN,158,Taiwan,23451837,AS,"zh,zh,nan,hak",8.0
57,UKR,804,Ukraine,44622516,EU,"uk,ru,rom,pl,hu",2.0
58,USA,840,United States,327167434,NA,"en,es,haw,fr",-5.0
59,VNM,704,Vietnam,95540395,AS,"vi,en,fr,zh,km",7.0
60,ZAF,710,South Africa,57779622,AF,"zu,xh,af,nso,en,tn,st,ts,ss,ve,nr",2.0

In [20]:
total_population = df['Population'].sum()
df['Population_Fraction'] = df['Population'] / total_population

In [21]:
df.to_csv('../data/behavior_generated/country_data_cleaned.csv', index=False)