In [1]:
desired_countries = ['LVA', 'LUX', 'ISR', 'FRA', 'CHN', 'SAU', 'COL', 'LTU', 'THA', 'CYP', 
 'HKG', 'AUS', 'GRC', 'ECU', 'CRI', 'CHL', 'MAR', 'NLD', 'PRT', 'RUS', 
 'HUN', 'TUR', 'MEX', 'EGY', 'BEL', 'ROU', 'DNK', 'KOR', 'SWE', 'FIN', 
 'UKR', 'ARG', 'VNM', 'DEU', 'BRA', 'BGR', 'MYS', 'PHL', 'GBR', 'CHE', 
 'ITA', 'AUT', 'SVK', 'CAN', 'ARE', 'TWN', 'PER', 'NZL', 'HRV', 'IRL', 
 'ZAF', 'SGP', 'USA', 'ESP', 'CZE', 'EST', 'IDN', 'POL', 'NOR', 'JPN', 
 'IND']

In [3]:
import pandas as pd
import numpy as np
import requests

In [13]:
df = pd.read_table('../data/behavior_imported/country_data.txt', sep='\t', header=0, index_col=0)
df = df[df['ISO3'].isin(desired_countries)]
df.drop(columns=['fips', 'Capital', 'Area(in sq km)', 'tld', 'CurrencyCode', 'CurrencyName', 'Phone', 'Postal Code Format', 'Postal Code Regex', 'geonameid', 'neighbours', 'EquivalentFipsCode'], axis= 1, inplace=True)
df

,ISO3,ISO-Numeric,Country,Population,Continent,Languages
ISO,,,,,,
AE,ARE,784,United Arab Emirates,9630959,AS,"ar-AE,fa,en,hi,ur"
AR,ARG,32,Argentina,44494502,SA,"es-AR,en,it,de,fr,gn"
AT,AUT,40,Austria,8847037,EU,"de-AT,hr,hu,sl"
AU,AUS,36,Australia,24992369,OC,en-AU
BE,BEL,56,Belgium,11422068,EU,"nl-BE,fr-BE,de-BE"
...,...,...,...,...,...,...
TW,TWN,158,Taiwan,23451837,AS,"zh-TW,zh,nan,hak"
UA,UKR,804,Ukraine,44622516,EU,"uk,ru-UA,rom,pl,hu"
US,USA,840,United States,327167434,NaN,"en-US,es-US,haw,fr"
VN,VNM,704,Vietnam,95540395,AS,"vi,en,fr,zh,km"
ZA,ZAF,710,South Africa,57779622,AF,"zu,xh,af,nso,en-ZA,tn,st,ts,ss,ve,nr"

In [21]:
df.fillna('NA', inplace=True)
df

,ISO3,ISO-Numeric,Country,Population,Continent,Languages
ISO,,,,,,
AE,ARE,784,United Arab Emirates,9630959,AS,"ar-AE,fa,en,hi,ur"
AR,ARG,32,Argentina,44494502,SA,"es-AR,en,it,de,fr,gn"
AT,AUT,40,Austria,8847037,EU,"de-AT,hr,hu,sl"
AU,AUS,36,Australia,24992369,OC,en-AU
BE,BEL,56,Belgium,11422068,EU,"nl-BE,fr-BE,de-BE"
...,...,...,...,...,...,...
TW,TWN,158,Taiwan,23451837,AS,"zh-TW,zh,nan,hak"
UA,UKR,804,Ukraine,44622516,EU,"uk,ru-UA,rom,pl,hu"
US,USA,840,United States,327167434,NA,"en-US,es-US,haw,fr"
VN,VNM,704,Vietnam,95540395,AS,"vi,en,fr,zh,km"
ZA,ZAF,710,South Africa,57779622,AF,"zu,xh,af,nso,en-ZA,tn,st,ts,ss,ve,nr"

In [31]:
df['Languages'] = df['Languages'].str.replace(r'-\w{2}', '', regex=True)
df.reset_index(drop=True, inplace=True)
df

,ISO3,ISO-Numeric,Country,Population,Continent,Languages
0,ARE,784,United Arab Emirates,9630959,AS,"ar,fa,en,hi,ur"
1,ARG,32,Argentina,44494502,SA,"es,en,it,de,fr,gn"
2,AUT,40,Austria,8847037,EU,"de,hr,hu,sl"
3,AUS,36,Australia,24992369,OC,en
4,BEL,56,Belgium,11422068,EU,"nl,fr,de"
...,...,...,...,...,...,...
56,TWN,158,Taiwan,23451837,AS,"zh,zh,nan,hak"
57,UKR,804,Ukraine,44622516,EU,"uk,ru,rom,pl,hu"
58,USA,840,United States,327167434,NA,"en,es,haw,fr"
59,VNM,704,Vietnam,95540395,AS,"vi,en,fr,zh,km"
60,ZAF,710,South Africa,57779622,AF,"zu,xh,af,nso,en,tn,st,ts,ss,ve,nr"

In [33]:
df.to_csv('../data/behavior_generated/country_data_cleaned.csv', index=False)